/Windows/VisualStudio/.vs
/Windows/VisualStudio/Build-qlurryquake
/Windows/VisualStudio/Build-qlurryquake-sdl
*.ipch
*.db
*.vsidx
*.json
*.m4
*.user
*.obj
*.sbr
*.tlog
*.bsc
*.exe
*.recipe
*.ilk
*.pdb
*.res
*.log
*.opendb
*.db-wal
*.db-shm